*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    background-color: rgb(15, 41, 93);
    height: 100%;
    width: 100%;
    padding: 20px;
}

#first-div{
    background-image: url(1st-wolf.avif);
    height: 50%;
    width: 25%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#first-div {
  position: relative;
  overflow: hidden;
}


#hover{
    position: absolute;
  bottom: -100px;
    height: 30%;
    width: 100%;
    background: linear-gradient(transparent,black);
     display: flex;
  align-items: center;
    gap: 50px;
     transition: all ease 0.4s;
}

#hover h2{
    color: white;
    font-size: 30px;
    padding-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ri-heart-fill{
    font-size: 25px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 50px;
}


#first-div:hover #hover{
    bottom: 0;
}
