@font-face {
    font-family: team-name;
    src: url(NeueMachina-Light_gwWCZxVuQl.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #24CFA6;
    color: white;

    #team-name{
        margin-bottom: 20px;
        font-size: 50px;
        font-family: team-name;
        font-weight: 700;
    }


    button{
    color: white;
    background-color: salmon;
    padding: 20px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
}

