*{
    margin: 0;
    padding: 0;}
#hero{
    height: 100vh;
    background-image: url(photo-1712397943847-e104395a1a8b.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;

}

h1{

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    left: 50%;
    font-size: 70px;
}

button{
    background-color:orangered;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;

}

button:hover{
    background-color: darkgoldenrod;
    transform: scale(1.2);
}
