*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

#parent{
    height: 400px;
    width: 100%;
    background-color: #333;
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
}

#parent::-webkit-scrollbar{
    /* display: none; */
    background-color: red;
}

#parent::-webkit-scrollbar-thumb{
    background-color: blue;
}



.child{
    height: 100%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
