*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left-top top-center top-right"
                         "left-top center bottom-right"
                         "left-bottom left-bottom bottom-right";
                         grid-gap: 15px;
                         padding: 15px;
}

#left-top{
    background-color: olive;
    grid-area: left-top;
    text-align: center;
}

#left-bottom{
    background-color: rgb(49, 49, 19);
    grid-area: left-bottom;
}

#top-center{
    background-color: salmon;
    grid-area: top-center;
}

#center{
    background-color: blueviolet;
    grid-area: center;
}

#top-right{
    background-color: pink;
    grid-area: top-right;
}

#bottom-right{
    background-color: rgb(161, 112, 47);
    grid-area: bottom-right;
}

.grid-item{
    display: grid;
    place-items: center; /* centers both vertically & horizontally */
    font-weight: bold;
}
