*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

nav{
    background-color: rgba(26, 23, 23, 0.963);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav a{

    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

}
.ri-apple-fill{
    font-size: 20px;
    color: white;
}

.ri-search-line{
    font-size: 20px;
    color: white;
}

.ri-shopping-bag-line{
     font-size: 20px;
    color: white;
}


main{
    height: 100%;
    width: 100%;
}

section{
    height: 85%;
    width: 100%;
    background-image: url(apple_image.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 50px;

}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-bottom: 10px;

}

h2{
      text-align: center;
    color: white;
    font-size: 30px;
}




.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.btn-box button {

  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;

}

/* Style for first button */
.btn1 {
  background-color: #007bff;
  color: white;
  height: 45px;
  width: 120px;
  text-align: center;
  border: none;
}

/* Style for second button */
.btn2 {
  background-color: transparent;
  color: white;
  height: 45px;
  width: 70px;
  text-align: center;
  border: 1px solid #007bff;
}
