
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.gallery {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas:
        "left right-top right-top"
        "left right-bottom right-bottom";
    gap: 10px;
    padding: 10px;

    .left {
        grid-area: left;
        margin-bottom: 10px;
        background-image: url(pikachu.jpg);
        background-size: cover;
        background-position: center;
    }

    .right-top {
        grid-area: right-top;
        background-image: url(right-top.jpg);
        background-size: cover;
        background-position: center;
    }

    .right-bottom {
        grid-area: right-bottom;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-bottom: 10px;

        .box1 {
            background-image: url(div-1.jpg);
            background-size: cover;
            background-position: center;
        }

        .box2 {
            background-image: url(div-2.jpg);
            background-size: cover;
            background-position: center;
        }

        .box3 {
            background-image: url(div-3.jpg);
            background-size: cover;
            background-position: center;
        }
    }
}
