* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #121212;
}

main {
  width: 100vw;
  padding: 15px;
  background-color: #121212;

  #studio-section1 {
    width: 100%;

    #main-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      #img-div {
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
          position: center;
          border-radius: 10px;
        }
      }

      #content-div {
        width: 100%;
        background-color: #1e1e1e;

        border-radius: 10px;
        padding-bottom: 20px;

        #logo {
          color: white;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 15px;
          margin-left: 30px;
          padding-top: 20px;
        }

        #heading {
          width: 100%;
          margin-left: 30px;
          margin-top: 60px;

          h1 {
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 40px;
            font-weight: 400;
          }
        }

        #para {
          width: 90%;
          margin-top: 10px;
          margin-left: 30px;

          p {
            font-size: 20px;
            line-height: 35px;
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            opacity: 0.3;
            font-weight: 100;
          }
        }

        #inner-icon-div {
          width: 15%;
          padding: 15px;
          background-color: #333;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-left: 30px;
          margin-top: 20px;
          display: inline;

          a {
            text-decoration: none;
            color: white;
          }

          i {
            font-size: 20px;
          }
        }

        span {
          display: flex;
          flex-direction: row;

          p {
            margin-top: 35px;
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 15px;
          }
        }
      }
    }
  }

  #studio-section2 {
    width: 100%;
    padding-bottom: 20px;

    #first-details {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 100px;
      margin-top: 30px;
      margin-left: 40px;
      margin-right: 40px;
      color: white;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    #second-details {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 80px;
      margin-top: 30px;
      margin-left: 25px;
      margin-right: 40px;
      color: white;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  // #studio-section3 {
  //   width: 100%;

  //   #main-div2 {
  //     width: 100%;

  //     #img-div2 {
  //       width: 100%;

  //       img {
  //         width: 100%;
  //         object-fit: cover;
  //         position: center;
  //         border-radius: 10px;
  //       }
  //     }
  //   }
  // }

  #studio-section3 {
    width: 100%;

    #main-div2 {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      #img-div2 {
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
          position: center;
          border-radius: 10px;
        }
      }

      #content-div2 {
        width: 100%;
        background-color: #1e1e1e;
        border-radius: 10px;
        padding-bottom: 20px;

        #logo2 {
          color: white;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 15px;
          margin-left: 30px;
          padding-top: 20px;
        }

        #heading2 {
          width: 100%;
          margin-left: 30px;
          margin-top: 60px;

          h1 {
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

            font-weight: 400;
            font-size: 40px;
            width: 90%;
          }
        }

        #para2 {
          width: 90%;
          margin-top: 10px;
          margin-left: 30px;

          p {
            font-size: 20px;
            line-height: 30px;
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            opacity: 0.3;
            font-weight: 100;
          }
        }
      }
    }
  }

  #studio-section4 {
    width: 100%;

    #main-div3 {
      width: 100%;

      #img-div3 {
        width: 100%;
        margin-top: 15px;

        img {
          width: 100%;
          object-fit: cover;
          position: center;
          border-radius: 10px;
        }
      }

      #content-div3 {
        width: 100%;
        background-color: #1e1e1e;
        margin-top: 10px;
        border-radius: 10px;
        padding-bottom: 20px;

        #logo3 {
          color: white;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 15px;
          margin-left: 30px;
          padding-top: 20px;
        }

        #heading3 {
          width: 100%;
          margin-left: 30px;
          margin-top: 60px;

          h1 {
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

            font-weight: 400;
            font-size: 40px;
            width: 90%;
          }
        }

        #para3 {
          width: 90%;
          margin-top: 10px;
          margin-left: 30px;

          p {
            font-size: 20px;
            line-height: 30px;
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            opacity: 0.3;
            font-weight: 100;
          }
        }
      }
    }
  }

  #studio-section5 {
    width: 100%;

    #our-team {
      #heading4 {
        width: 100%;
        margin-left: 20px;
        margin-top: 20px;
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        font-weight: 400;
        font-size: 40px;
        width: 90%;
      }
    }
  }

  #studio-section6 {
    width: 100%;

    #main-card-div {
      width: 100%;
      margin-top: 20px;

      #first-card {
        width: 100%;
        object-fit: cover;
        position: center;
        position: relative;

        #card-content-div1 {
          position: absolute;
          bottom: 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 15px;
          font-weight: 200;
          margin-left: 20px;
          gap: 15px;
          width: 100%;
          padding: 20px;
          background: linear-gradient(to bottom, #837f7258, #61645f);
          width: 88%;
          border-radius: 5px;
        }

        #icon-div1 {
          position: absolute;
          color: white;
          font-size: 25px;
          font-family: serif;
          right: 20px;
          top: 30px;

          i {
            border: 1px solid #b4b2ad;
            border-radius: 50%;
            padding: 10px;
            background-color: #e1d9d933;
            color: #b4b2ad;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      #second-card {
        #card-content-div2 {
          position: absolute;
          bottom: 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 15px;
          font-weight: 200;
          margin-left: 20px;
          gap: 15px;
          width: 100%;
          padding: 20px;
          background: linear-gradient(to bottom, #837f7258, #61645f);
          width: 88%;
          border-radius: 5px;
        }

        width: 100%;
        object-fit: cover;
        position: center;
        position: relative;
        margin-top: 10px;

        #icon-div2 {
          position: absolute;
          color: white;
          font-size: 25px;
          font-family: serif;
          right: 20px;
          top: 30px;

          i {
            border: 1px solid #b4b2ad;
            border-radius: 50%;
            padding: 10px;
            background-color: #e1d9d933;
            color: #b4b2ad;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      #third-card {
        width: 100%;
        object-fit: cover;
        position: center;
        margin-top: 10px;
        position: relative;

        #card-content-div3 {
          position: absolute;
          bottom: 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 20px;
          font-weight: 200;
          margin-left: 20px;
          gap: 15px;
          width: 100%;
          padding: 20px;
          background: linear-gradient(to bottom, #837f7258, #61645f);
          width: 88%;
          border-radius: 5px;
        }

        #icon-div3 {
          position: absolute;
          color: white;
          top: 70px;
          font-size: 25px;
          font-family: serif;
          right: 20px;
          top: 30px;

          i {
            border: 1px solid #b4b2ad;
            border-radius: 50%;
            padding: 10px;
            background-color: #e1d9d933;
            color: #b4b2ad;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }

  #studio-section7 {
    width: 100%;

    #main-div4 {
      width: 100%;
      position: relative;

      #img-div4 {
        width: 100%;
        margin-top: 10px;

        img {
          width: 100%;
          object-fit: cover;
          position: center;
          border-radius: 10px;
        }
      }

      #content-div4 {
        width: 100%;
        background-color: #1e1e1e;
        color: white;
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 40px;
        border-radius: 10px;

        p {
          margin-top: 10px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 20px;
          line-height: 30px;
          opacity: 0.3;
          font-weight: 500;
        }

        h2 {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
          font-weight: 400;
        }

        span {
          width: 100%;
          display: flex;
          margin-top: 20px;
          padding-bottom: 40px;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          a {
            text-decoration: none;
            color: white;

            width: 15%;
            padding: 10px;
            background-color: #333;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-left: 5px;
            margin-top: 20px;
            display: inline;

            i {
              font-size: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          p {
            margin-top: 20px;
            font-size: 15px;
          }
        }
      }
    }
  }

  #studio-section8 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #cebd63;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

    p {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 17px;
      color: #121212;
      opacity: 0.7;
      font-weight: 400;
    }

    h1 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
      margin-top: 5px;
      font-weight: 400;
      width: 50%;
    }

    button {
      width: 90%;
      padding: 20px;
      border-radius: 10px;
      border: none;
      text-align: center;
      background-color: black;
      color: white;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-size: 15px;
    }
  }

  #studio-section9 {
    width: 100%;
    background-color: #1e1e1e;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

    p {
      font-size: 20px;
      color: white;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      opacity: 0.4;
    }

    #alvy-icon {
      margin-right: 90px;
      margin-top: 80px;

      i {
        border: 1px solid #b4b2ad;
        border-radius: 50%;
        padding: 10px;
        background-color: #e1d9d933;
        color: rgb(255, 255, 255);
        font-size: 20px;
        opacity: 0.4;
      }
    }
  }

  #studio-section10 {
    width: 100%;
    background-color: #1e1e1e;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;

    #list {
      li {
        button {
          margin-top: 14px;
          background-color: #cebd63;
          padding: 15px 20px;
          border-radius: 10px;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 400;
          border: none;
        }
      }

      ul li:nth-child(1) {
        font-weight: 600;
        font-size: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin-bottom: 10px;
      }

      display: flex;

      justify-content: flex-start;
      flex-direction: column;
      gap: 60px;

      ul {
        list-style: none;
        line-height: 30px;

        a {
          text-decoration: none;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          color: white;
          font-size: 15px;
          opacity: 0.4;
          line-height: 40px;
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: #1e1e1e;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 35px;
    text-transform: uppercase;
    color: white;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    #first-para {
      width: 90%;
      word-spacing: 5px;
      text-align: center;
      margin-right: 50px;
      font-size: 13px;
      line-height: 20px;
    }

    #footer-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 30px;
      margin-right: 25px;

      a {
        text-decoration: none;

        i {
          border: 1px solid #b4b2ad;
          border-radius: 50%;
          padding: 10px;
          background-color: #e1d9d933;
          color: rgb(255, 255, 255);
          font-size: 20px;
          opacity: 0.4;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  #studio-section1 {
    width: 100%;

    #main-div {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;

      #img-div {
        width: 50%;
      }

      #content-div {
        padding: 15px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 50px;

        #main-content {
          #heading {
            h1 {
              font-size: 55px;
            }
          }

          #para {
            p {
              opacity: 0.7;
            }
          }

          span {
            #inner-icon-div {
              width: 10%;
              padding: 15px;
              background-color: #333;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              margin-left: 30px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }

  #studio-section2 {
    display: flex;

    #first-details {
      margin-left: 150px;

      #details2 {
        margin-left: 100px;
      }
    }

    #second-deatils {
      #details4 {
        margin-left: 100px;
      }
    }
  }

  #studio-section3 {
    #main-div2 {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  #studio-section4 {
    #main-div3 {
      display: flex;
      gap: 10px;

      #content-div {
        width: 100%;
        background-color: #1e1e1e;
        margin-top: 15px;
        border-radius: 10px;
      }
    }
  }
}
