* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  padding: 15px;
  background-color: #121212;

  #studio-section1 {
    width: 100%;

    #main-div {
      width: 100%;

      #img-div {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
          position: center;
          border-radius: 10px;
        }
      }

      #content-div {
        width: 100%;
        background-color: #1e1e1e;
        margin-top: 10px;
        border-radius: 10px;
        padding-bottom: 20px;

        #logo {
          color: white;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 15px;
          margin-left: 30px;
          padding-top: 20px;
        }

        #heading {
          width: 100%;
          margin-left: 30px;
          margin-top: 60px;

          h1 {
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 40px;
            font-weight: 400;
          }
        }
        #para {
          width: 90%;
          margin-top: 10px;
          margin-left: 30px;

          p {
            font-size: 20px;
            line-height: 35px;
            color: white;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            opacity: 0.3;
            font-weight: 100;
          }
        }

        #inner-icon-div {
          width: 15%;
          padding: 15px;
          background-color: #333;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-left: 30px;
          margin-top: 20px;
          display: inline;

          a {
            text-decoration: none;
            color: white;
          }
          i {
            font-size: 20px;
          }
        }

        span{
          display: flex;
          flex-direction: row;

          p{
            margin-top: 35px;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 15px;
          }
        }
      }
    }
  }

  #studio-section2 {
    width: 100%;
    padding-bottom: 20px;

    #first-details{
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 100px;
      margin-top: 30px;
      margin-left: 40px;
      margin-right: 40px;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #second-details{
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 80px;
      margin-top: 30px;
      margin-left: 25px;
      margin-right: 40px;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}
