*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;

    #studio-section1{
        width: 100%;

        #main-div{
            width: 100%;

            #img-div{
                width: 100%;

                img{
                    width: 100%;
                    object-fit: cover;
                    position: center;
                    ;
                }
            }
        }
    }
}


