*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

$font-color: white;

@mixin center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    @include center-box;
    min-height:100vh;
    background-color: #323232;
}

button{
    padding: 20px 40px;
    color: white;
    background-color: salmon;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
