* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


/* div1 style */

#div1 {
    color: white;
    background-color: rgba(4, 8, 40, 0.82);
    height: 250px;
    width: 100%;
}

#name {
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;

}

#namediv {
    padding: 70px;
    margin-bottom: 2px;
    height: 20px;
}

#appreancediv {
    text-align: center;
    margin: 2px;
    font-style: italic;
}

#appreance {
    font-family: 'Roboto', sans-serif;
}


/* div2 style */


#div2 {
    margin: 30px 90px;
    background-color: whitesmoke;
    height: 200px;
    border-radius: 10px;
}

#about {
    color: black;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    margin: 0;
    padding: 60px 0 0 0;
    font-family: 'Roboto', sans-serif;
}


#p1div {
    margin-top: 20px;
    text-align: center;
    height: 50px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

}


/* div3 style */

#div3 {
    margin: 30px 90px;
    background-color: rgb(190, 212, 229);
    height: 350px;
    border-radius: 10px;
}


#education {
    color: black;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    margin: 0;
    padding: 60px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

#degreediv {
    height: 20%;
    width: 70%;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}

#degree {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/* div4 style */
#div4 {
    margin: 30px 90px;
    background-color: rgb(230, 220, 171);
    height: 600px;
    border-radius: 10px;
}


#skills {

    color: black;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    margin: 0;
    padding: 60px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.skillsdiv {
    height: 15%;
    width: 70%;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}


.skill {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%

}


/* div5 style */
#div5 {
    margin: 30px 90px;
    background-color: rgb(233, 211, 236);
    height: 400px;
    border-radius: 10px;
}


#projects {

    color: black;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    margin: 0;
    padding: 60px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.projectsdiv {
    height: 15%;
    width: 70%;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}


.project {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%

}


/* div6 style */
#div6 {
    margin: 30px 90px;
    background-color: rgb(215, 236, 211);
    height: 400px;
    border-radius: 10px;
}


#contacs{

    color: black;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    margin: 0;
    padding: 60px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.contactdiv {
    height: 15%;
    width: 70%;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}


.contact {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%

}


/* div7 style */

#div7{

    background-color: rgba(4, 8, 40, 0.82);
    height: 70px;
    width: 100%;
    padding: 50px;
}

#footer p{
    color: white;
    text-align: center;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}
