* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}

#view1 {
  background: linear-gradient(124.64deg, #027dfd, #833ef2);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  #discount-text {
    text-align: center;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: 700;

    a {
      text-decoration: none;
      color: white;
    }
  }

  #arrow {
    color: wheat;
    padding-top: 5px;
    margin-left: 5px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

#view2 {
  padding-bottom: 100px;
  background: linear-gradient(hsl(189, 64%, 98%), #f9e5ee 100%);
  width: 100%;
  display: flex;
  flex-direction: column;

  #view2-first-div {
    #view2-1st-heading {
      width: 100%;
      margin-top: 70px;

      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 46px;
        text-align: center;
        width: 70%;
      }
    }
  }

  #view2-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  #view2-2nd-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;

    h2 {
      text-align: center;
      width: 80%;
      font-size: 34px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      line-height: 41px;
      font-weight: 500;
    }
  }
}

#view3 {
  width: 100%;
  padding: 19px;

  #first-div {
    margin-top: 70px;
    width: 100%;
  }
}

.images {
  object-fit: cover;
  width: 100%;
  margin-top: 100px;
}

.heading {
  margin-top: 25px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.para {
  margin-top: 25px;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;
  font-weight: 400;
}

.border-top {
  margin-top: 50px;
}

.line {
  width: 365px;
  border-top: 5px solid rgba(128, 128, 128, 0.2);
  margin-left: 5px;
}

#view4 {
  width: 100%;
  padding: 19px;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  #img-div {
    margin-top: 100px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  #content-div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    h4 {
      font-size: 20px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(75, 72, 72);
      font-weight: 800;
    }

    h3 {
      font-size: 50px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    p {
      font-size: 22px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      opacity: 0.7;
      font-weight: 400;
      line-height: 30px;
    }

    #view4-button {
      width: 55%;
      border-radius: 20px;
      // color: $primary-color;
      background: transparent;
      // border: 2px solid $primary-color;
      font-size: 17px;
      font-weight: 500;
      margin-top: 10px;
      padding: 10px;
      color: #027dfd;
      border: 2px solid #0468d7;

      a {
        text-decoration: none;
        color: #0468d7;
      }
    }

    #view4-button:hover {
      background-color: #027dfd;
      border: none;

      a {
        color: white;
      }
    }

    span {
      padding-left: 30px;
      display: flex;
      justify-content: flex-start;
      gap: 4px;

      a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: 500;
      }

      i {
        margin-top: 2px;
      }
    }
  }
}

#view5 {
  width: 100%;
  padding: 19px;
  background: linear-gradient(#f6fbfa, #fcfce2 100%);
  margin-top: 70px;

  #main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    #img2-div {
      margin-top: 40px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    #content2-div {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;
      padding-bottom: 60px;

      h4 {
        font-size: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(75, 72, 72);
        font-weight: 800;
      }

      h3 {
        font-size: 45px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 60px;
      }

      p {
        font-size: 22px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        opacity: 0.7;
        font-weight: 400;
        line-height: 30px;
      }

      #view5-button {
        width: 55%;
        border-radius: 20px;
        font-size: 17px;
        font-weight: 500;
        margin-top: 10px;
        padding: 10px 10px;
        background-color: #027dfd;
        border: none;

        a {
          text-decoration: none;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

#view6 {
  width: 100%;
  padding: 19px;
}

#main3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  #img3-div {
    margin-top: 50px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

#content3-div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;

  h4 {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(75, 72, 72);
    font-weight: 800;
  }

  h3 {
    font-size: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 60px;
  }

  p {
    font-size: 22px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
    font-weight: 400;
    line-height: 30px;
  }

  #view6-button {
    width: 40%;
    border-radius: 20px;
    background: transparent;

    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
    color: #027dfd;
    border: 2px solid #0468d7;

    a {
      text-decoration: none;
      color: #0468d7;
    }
  }

  #view6-button:hover {
    background-color: #027dfd;
    border: none;

    a {
      color: white;
    }
  }
}

#view7 {
  width: 100%;
  padding: 19px;
  background: linear-gradient(#f6fbfa, #fcfce2 100%);
  margin-top: 70px;

  #main4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    #img4-div {
      margin-top: 40px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    #content4-div {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;
      padding-bottom: 60px;

      h4 {
        font-size: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(75, 72, 72);
        font-weight: 800;
      }

      h3 {
        font-size: 45px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 50px;
      }

      p {
        font-size: 22px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        opacity: 0.7;
        font-weight: 400;
        line-height: 30px;
      }

      #view7-button {
        width: 55%;
        border-radius: 20px;
        font-size: 17px;
        font-weight: 500;
        margin-top: 10px;
        padding: 10px 10px;
        background-color: #027dfd;
        border: none;
        cursor: pointer;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

#view8 {
  width: 100%;
  padding: 90px 20px;
  margin-top: 10px;

  #main5 {
    position: relative;
    background-color: #042449;
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
    height: 450px;
  }

  #media img {
    width: 100%;
    object-fit: cover;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-left: 25px;

    h3 {
      font-size: 45px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      line-height: 50px;
      color: white;
    }

    p {
      font-size: 20px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      opacity: 0.7;
      font-weight: 500;
      line-height: 30px;
      color: white;
      padding-left: 70px;
    }

    button {
      width: 90%;
      border-radius: 20px;
      font-size: 17px;
      font-weight: 500;
      margin-top: 15px;
      padding: 10px 40px;
      background-color: white;
      border: none;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #027dfd;
        margin-right: 15px;
      }
    }
  }
}


#below {
  margin-right: 90px;

  span {
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

#media {
  height: 100%;

  img {
    height: 100%;
  }
}

footer {
  background-color: #f8f9fa;
  width: 100%;
  padding-bottom: 30px;

  #flutter-icon {
    margin-left: 70px;
    padding-top: 70px;
    margin-bottom: 50px;
  }

  #list {
    margin-left: 90px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;

    ul {
      list-style: none;
      line-height: 30px;

      a {
        text-decoration: none;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: black;
      }
    }
  }
}

ul li:nth-child(1) {
  font-weight: 600;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;

  a {
    text-decoration: none;

    i {
      color: black;
      font-size: 25px;
    }
  }
}
.ri-youtube-fill {
  font-size: 25px;
}

#footer-line {
  width: 250px;
  border-top: 3px solid rgba(128, 128, 128, 0.2);
  margin-left: 90px;
  margin-top: 30px;
}

#footer-para {
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin-left: 40px;

  p {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.6;
  }
}

#footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  margin-top: 20px;

  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.6;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  #view2 {
    #view2-first-div {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: row-reverse;
      width: 100%;

      #view2-img {
        flex-direction: row-reverse;
        margin-top: 50px;
        margin-right: 70px;
      }

      #view2-1st-heading {
        margin-left: 40px;

        #papai {
          text-align: start;
          font-size: 80px;
          line-height: 80px;
          width: 80%;
        }
      }
    }
  }

  #view3{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    #first-div{
          margin-left: 70px;
    width: 50%;
    margin-bottom: 45px;

    .heading{
      font-size: 30px;
    }

    .para{
      width: 92%;
    }

    #border-line{
      width: 95%;
    }

    .line{
      width: 90%;
    }
    }

    #second-div{
       margin-left: 70px;
    width: 50%;
     margin-bottom: 27px;

    #heading2{
      font-size: 30px;
    }
      #second-div-img{
        margin-top: 90px;
      }

     .para{
      width: 92%;
    }

    #border-line{
      width: 95%;
    }

    .line{
      width: 90%;
    }
    }

    #third-div{
        margin-left: 70px;
    width: 50%;
    margin-top: 15px;
    margin-right: 40px;

    #heading3{
      font-size: 30px;
    }

     .para{
      width: 91%;
    }

    #border-line{
      width: 95%;
    }

    .line{
      width: 90%;
    }
    }


  }
}
