
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}

#view1 {
  background: linear-gradient(124.64deg, #027dfd, #833ef2);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  #discount-text {
    text-align: center;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: 700;

    a {
      text-decoration: none;
      color: white;
    }
  }

  #arrow {
    color: wheat;
    padding-top: 5px;
    margin-left: 5px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

#view2 {
  padding-bottom: 100px;
  background: linear-gradient(#efffff, #efc0cf 100%);
  width: 100%;
  display: flex;
  flex-direction: column;

  #view2-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  #all-heading-view2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;

    #view2-1st-heading {
      width: 100%;
      margin-top: 70px;

      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 46px;
        text-align: center;
        width: 70%;
      }
    }

    #view2-2nd-heading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        text-align: center;
        width: 80%;
        font-size: 34px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 41px;
        font-weight: 500;
      }
    }
  }
}

#view3 {
  width: 100%;
  padding: 19px;

  #first-div {
    margin-top: 70px;
    width: 100%;
  }
}

.images {
  object-fit: cover;
  width: 100%;
  margin-top: 100px;
}

.heading {
  margin-top: 25px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.para {
  margin-top: 25px;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;
  font-weight: 400;
}

.border-top {
  margin-top: 50px;
}


.line {
        width: 365px;
        border-top: 5px solid rgba(128, 128, 128, 0.2);
        margin-left: 5px;
      }





